.main_content {
    padding: 0rem;
    width: 100%;
}

.main_content > .dashboard_title {
    font-size: 2.4rem;
    color: #083F73;
    text-transform: uppercase;
    margin-bottom: 3rem;   
}

.main_content > .dashboard_section {
    display: flex;
    width: 100%;
    flex-wrap: wrap-reverse;
    gap: 3rem;
    align-items: center;
    justify-content: space-around;
    margin-top: 3.5rem;
}

.main_content > .dashboard_section > .dashboard_analyst {
    display: flex;
    gap: 2.2rem;
    flex-direction: column;
}

.main_content > .dashboard_section > .dashboard_analyst > .dashboard_analyst_container {
    display: flex;
    gap: 2.2rem;
    flex-wrap: wrap;
}