.ManageTicketOrder{
  /* background-color: aqua; */
  /* padding: 4rem 10rem; */
  width: 100%;
  position: relative;
  padding-bottom: 0;
}

.main-content{
  margin: 0 auto;
  width: 113rem;
  padding-top: 2.4rem;
  display: flex;
  flex-direction: column;
  box-sizing: border-box;
}

.title{
  text-transform: uppercase;
  color: #417DD8;
  font-weight: 700;
  font-size: 24px;
  align-self: flex-start;
}

.search input{
  padding: 2rem 1rem;
  width: 32rem;
  font-family: inherit;
  border-radius: 6px;
  border: 1px solid #8D8A8A;
  margin-right: -30px;
  font-size: 1.5rem;
}

.search input:focus{
  outline: none;
}

.search{
  display: flex;
  align-items: center;
  align-self: flex-end;
  padding-right: 1rem;
  margin-top: 2rem;
}

.table{
  width: 100%;
  /* background-color: yellow; */
  /* border-radius: 12px; */
  border: 1px solid #EDEDED;
  border-top: 0;
  margin-top: 2rem;
  border-bottom-left-radius: 0;
  border-bottom-right-radius: 0;
  /* overflow: auto; */
  overflow: hidden;
}

.header{
  background-color: #417DD8;
  padding: 1.5rem .5rem;
  display: flex;
}

.ManageTicketOrder p{
  margin: 0;
}

.header p{
  color: white;
  font-size: 1.4rem;
  font-weight: 500;
}

.header p:nth-child(1){
  margin-left: 3rem;
}

.header p:nth-child(2){
  margin-left: 13rem;
}

.header p:nth-child(3){
  margin-left: 13rem;
}

.header p:nth-child(4){
  margin-left: 14rem;
}

.header p:nth-child(5){
  margin-left: 12.5rem;
}

.header p:nth-child(6){
  margin-left: 4rem;
}

.listItem{
  /* height: 100%; */
  height: 55rem !important;
  width: 100%;
  /* background-color: red; */
  overflow-y: scroll;
}

/* .detail{

} */

.overlay{
  position: fixed;
  z-index: 12;
  top: 0%;
  left: 0%;
  opacity: 0.5;
  width: 100%;
  height: 100%;
  background-color: black;
}

.popup{
  background-color: white;
  width: 70rem;
  /* height: 40rem; */
  position: fixed;
  top: 50%;
  left: 50%;
  transform: translate(-50%,-50%);
  /* display: flex; */
  padding: 2.4rem;
  /* padding-top: 7rem; */
  border-radius: 6px;
  /* position: relative; */
  z-index: 15;
}

.green{
  color: #2b8a3e !important;
}

.red{
  color: #c92a2a !important;
}

.user-information{
  width: 100%;
  background-color: #083F73;
  /* opacity: 0.8; */
  /* height: 10rem; */
  border-radius: 6px;
  padding: 6px 12px;
  color: white;
}

.ticket-information{
  margin-top: 1.5rem;
}

.bottom{
  display: flex;
  align-items: center;
  /* background-color: aqua; */
  width: 100%;
  margin-top: 1rem;
  justify-content: space-between;
}



.chosen-seat{
  display: flex;

}



.popup .left,
.popup .right{
  width: 50%;
  display: flex;
  flex-direction: column;
  gap:3rem;
  font-weight: 500;
}

.popup .right{
  padding-left: 7rem;
}

.closeIcon{
  color: white;
  background-color: #adb5bd;
  font-weight: 600;
  border-radius: 3px;
  border: none;
  cursor: pointer;
  height: 100%;
  width: 8rem;
}

.editBtn{
  color: white;
  background-color: #417DD8;
  font-weight: 600;
  border-radius: 3px;
  border: none;
  height: 100%;
  width: 8rem;
  cursor: pointer;
}

.listItem::-webkit-scrollbar {
  width: 10px;
}

.listItem::-webkit-scrollbar-thumb {
  background-color: #dddddd;
  border-radius: 5px;
}

.listItem::-webkit-scrollbar-track {
  background-color: white;
}

.popup{
  line-height: 2;
}