.ChangePassword{
  width: 75rem;
  height: 32rem;
  border-radius: 12px;
  border: 3px solid #417DD8;
  margin: 0 auto;
  padding: 6rem;
  display: flex;
  gap:8rem;
  position: relative;
  justify-content: center;
}

.title,.content{
  display: flex;
  flex-direction: column;
  gap:4.1rem;
}

.content{
  gap: 3.3rem;
}

.content input{
  width: 26rem;
  padding: .4rem .5rem;
  border: 1px solid #646464;
  border-radius: 3px;
}

.content input:focus{
  outline: none;
}
.ChangePassword p{
  font-size: 16px;
  margin: 0;
}
.content p{
  font-weight: 500;
}

.ChangePassword button{
  position: absolute;
  top:80%;
  right: 50%;
  transform: translate(50%,0%);
  background-color: #083F73;
  border: none;
  color: white;
  font-weight: 500;
  border-radius: 5px;
  width: 8rem;
  height: 2.6rem;
  cursor: pointer;
}

.ChangePassword button:hover{
  background-color: #0a355f;
}

.error{
  position: absolute;
  top: 90%;
  right: 50%;
  transform: translate(50%,0%);
  color: red;
  font-size: 12px !important;
  text-align: center;
}

.success{
  position: absolute;
  font-size: 12px !important;
  width: 24rem;
  top: 90%;
  right: 34%;
  /* background-color: aqua; */
  text-align: center;
  color:green;
}