.layout-seat-title {
    display: flex;
    justify-content: space-around;
    margin-bottom: 0rem;
    border: 2px solid #CED4DA;
    width: 100%;
    border-top: 0px;
    border-left: 0px;
    border-right: 0px;
    border-radius: 8px;
}


.layout-seat-title > .below, .layout-seat-title > .above {
    width: 28rem;
    text-align: center;
    padding: 2rem 0rem;
    font-size: 1.8rem;
    font-weight: 600;
    color: #417DD8;
    /* background-color: yellow; */
    text-transform: uppercase;
}

.seat-tables {
    margin: 0 auto;
    border-bottom-right-radius: 6px;
    border-bottom-left-radius: 6px;
    display: flex;
}

.seat-tables > .seat-table-container {
    width: 10rem;   
    flex: 1;
    align-items: center;
    justify-content: center;
}


.seat-table {
    padding: 0;
    width: 100%;
    padding: 3rem;
}

td.empty-seat-space {
    visibility: hidden;
}

.seat-table > tbody > tr > td {
    text-align: center;
}